@model VehicleMarket2.ViewModels.HomeViewModel
    @{
        ViewBag.Title = "Vehicle Market";
    }

<body>
    <nav class="kategorieHorizontal">
        <ul>
            @foreach (var category in Model.Categories)
            {
                <li>
                    <a href="@Url.Action("List", "Cars", new {categoryName = category.CategoryName.ToLower() })"
                       style="background-color: crimson">
                        @category.CategoryName
                    </a>
                </li>
            }           
        </ul>
        <a href="link">
            <img id="baner" src="../Content/Images/baner.png" />
        </a>
    </nav>

    <section>
        <ul class="KursyTrzyKolumny duzaListaKursy">
            @foreach (var news in Model.News)
            {
                <li>
                    <article>
                        <a class="dodajDoKoszykaLink" href="@Url.Action("addToCart", "Cart", new {id=news.CarID})">
                            <img src="../Content/Images/koszyk.png"/>
                        </a>
                        <a class="kursSzczegolyLink" href="@Url.Action("Details", "Cars", new {id=news.CarID})">
                            <div class="bestsellerFlag"></div>
                            <!-- Tutaj będzie trzeba napisać helper w Web.config żeby dynamicznie obrazki były -->
                            <img class="kurs" src="../Content/Vehicles/Passat.jpg"/>
                            <h1>
                                @news.Brand @news.Model
                            </h1>
                        </a>
                    </article>
                </li>
            }
        </ul>
    </section>
    <section>
        <ul class="KursyTrzyKolumny duzaListaKursy">
            @foreach (var supercar in Model.Supercars)
            {
                <li>
                    <article>
                        <a class="dodajDoKoszykaLink" href="link">
                            <img src="../Content/Images/koszyk.png"/>
                        </a>
                        <a class="kursSzczegolyLink" href="link">
                            <div class="newFlag"></div>
                            <img class="kurs" src="../Content/Vehicles/Hayabusa.jpg"/>
                            <h1>
                                @supercar.Brand @supercar.Model
                            </h1>
                        </a>
                    </article>
                </li>
            }
        </ul>
    </section>
    </body>
    </html>
